body {
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.header {
    background-color: rgb(6, 143, 6);
    color: aliceblue;
    text-align: center;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(236, 86, 86);
    cursor: pointer;
    font-size: 19px;
}

a:hover {
    color: rgb(227, 49, 49);
    font-weight: 500;
}